.skills{
    background: #000016;
  }
  
  .skills .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 20px;
  }
  
  .skills .content .col-left{
    position: relative;
    width: 46%;
  }
  
  .skills .content .col-left .content-title{
    margin-bottom: 20px;
  }
  
  .skills .content .col-right{
    position: relative;
    width: 46%;
  }
  
  .skills .content .col-right .bar{
    margin-bottom: 15px;
    padding: 10px;
  }
  
  .skills .content .col-right .bar .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .skills .content .col-right .bar .info span{
    font-size: 18px;
    font-weight: 500;
  }
  
  .skills .content .col-right .bar .line{
    position: relative;
    width: 100%;
    height: 15px;
    background: #ccc;
    border-radius: 2px;
  }
  
  .skills .content .col-right .bar .line:before{
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2px;
  }
  
  .skills .content .col-right .bar .html:before{
    width: 95%;
    background: #e45126;
  }
  
  .skills .content .col-right .bar .css:before{
    width: 90%;
    background: #0c73b8;
  }
  
  .skills .content .col-right .bar .javascript:before{
    width: 80%;
    background: #e3a324;
  }
  
  .skills .content .col-right .bar .jquery:before{ /*Photoshop*/
    width: 90%;
    background: #04064d;
  }
  
  .skills .content .col-right .bar .ui:before{ /*UI*/
    width: 95%;
    background: #3d0138;
  }
  
  .skills .content .col-right .bar .php:before{
    width: 73%;
    background: #6d7eb8;
  }