body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background: #BBBBBB;
    padding: 10px 0;
}



.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
h1 img{
    width:150px
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

/*style Home*/
.banner{
    width: 100%;
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    font-weight: bold;
}

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p{
    margin: 0 0 1em;
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}
/*Mapa*/
.mapa {
    padding: 3em 0; /*3em cima/baixo  e 0 para as laterais*/
    background: linear-gradient(#FEFEFE,#808080);
}
.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}
.mapa p{
    margin: 0 0 2em; /*2em para baixo!*/
    text-align: center;
}
/*Benefícios*/
.beneficios{
    padding: 3em 0; /*3em cima/baixo  e 0 para as laterais*/
    background: #808080;
    
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}
.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.ben-img{
    width: 60%;
    
    transition: 400ms; /*tempo do hover*/
    box-shadow: 10px 10px 8px rgb(32, 31, 31);
}
.ben-img:hover{
    opacity: .4; /*40%*/
}

.item {
    line-height: 1.5; /*espaçamento melhor 1.5 = tam da fonte + 50% */
}

.item:before{
    content: "★";
}
.item:first-child{
    font-weight: bold;
}


/*video*/
.video{
    width: 560px;
    margin: 2em auto;
}

/*Produtos*/

.produtos{ /*mesma largura da div 'caixa' = Header*/
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;  /*Isso significa=   50px pra cima e baixo  e 0 para os lados.*/
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    background: rgb(255, 255, 255);
    margin: 0 1.5%;  /*Isso significa=   0 pra cima e baixo  e 1.5% para os lados*/
    padding: 30px 20px;
    box-sizing: border-box;

    /*
    border-width: 2px;
    border-style: solid;
    border-color: black;*/
    border: 2px solid black;

    border-radius: 10px;
}

.produtos li:hover{
    border-color: #969494;
}
.produtos li:hover h2{ /*aumentar o h2 dos produtos li quando o mouse passar*/
    font-size: 35px;
}

.produtos li:active{
    border-color: chartreuse;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}

/*footer*/

footer{
    text-align: center;
    background-color: #808080;
    padding: 15 0;
}
footer img{
    width: 200px;
}
.copyright{
    color: white;
    font-size: 13px;
    margin-top: 10px;
}



/*Formulário*/

form{
    margin: 40px 80px;  /*40 cima/baixo e 0 direita/esquerda*/
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padrao{
    display: block;
    margin: 0 0 20px; /*modelo de margem para baixo :  0  0  Xpx*/
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: rgb(47, 0, 255);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background: rgb(255, 0, 0);
    transform: scale(1.2);
}

/*Tabela*/

table{
    margin: 20px 80px;  /*20px cima e 40px baixo*/
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 5px 10px;
}

/*Responsive*/

@media screen and (max-width: 500px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video{
        width: 100%;
    }

    h1{
        text-align: center;
    }
    nav{
        position: static;
    }

    .lista-beneficios, .ben-img {
        width: 90%;
        padding: 5%;
    }

    footer{
        width: auto;
    }
}